<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <title>The Mobile Hour - Product Admin</title>
  </head>
  <body>
    <!-- Header / nav -->
    <%- include("partials/admin_navigation.ejs", { accessRole }) %>
    <main>
      <h1 class="admin-title">Product Admin</h1>
      <section class="admin-section">
        <nav class="order-admin-nav">
          <a href="/product_admin">View Products</a>
          <a href="/product_admin_create">Create Product</a>
        </nav>
        <section class="column-5 data-grid">
          <!-- Product Name -->
          <span class="column-heading">Name</span>

          <!-- Product Price -->
          <span class="column-heading">Price</span>

          <!-- Product Stock -->
          <span class="column-heading">Stock</span>

          <!-- Updated By -->
          <span class="column-heading">Updated By</span>

          <!-- Edit and Delete Btns -->
          <span></span>

          <% for (let productStaff of productsStaff) { %>

          <!-- Product Name Result -->
          <span><%= productStaff.product_name %></span>

          <!-- Product Price Result -->
          <span><%= `$${productStaff.product_price}` %></span>

          <!-- Product Stock Result -->
          <span><%= productStaff.product_stock %></span>

          <!-- Updated By Result -->
          <span><%= productStaff.staff_username %></span>

          <!-- Edit and Delete Btns -->
          <article class="edit-delete-btns">
            <a
              href="/product_admin?edit_id=<%= productStaff.product_id %>"
              class="button-primary button"
              >Edit
            </a>
            <input
              type="submit"
              class="button-primary button"
              name="action"
              value="delete"
            />
          </article>
          <% } %>
        </section>
        <form action="/edit_product" method="post" class="edit-form">
          <input
            type="hidden"
            name="product_id"
            value="<%= editProduct.id %>"
          />
          <!-- Product Name -->
          <label for="name">Name:</label>
          <input
            type="text"
            name="name"
            class="create-form-input"
            value="<%= editProduct.name %>"
          />
          <!-- Product Model -->
          <label for="model">Model: </label>
          <input
            type="text"
            name="model"
            class="create-form-input"
            value="<%= editProduct.model %>"
          />
          <!-- Product Manufacturer -->
          <label for="manufacturer">Manufacturer: </label>
          <input
            type="text"
            name="manufacturer"
            class="create-form-input"
            value="<%= editProduct.manufacturer %>"
          />
          <!-- Product Price -->
          <label for="price">Price</label>
          <input
            type="number"
            name="price"
            class="create-form-input"
            value="<%= editProduct.price %>"
          />
          <!-- Product Stock-->
          <label for="stock">Stock</label>
          <input
            type="number"
            name="stock"
            class="create-form-input"
            value="<%= editProduct.stock %>"
          />
          <!-- Product Description-->
          <label for="Description">Description</label>
          <textarea
            name="description"
            class="create-form-input"
            cols="30"
            rows="10"
          >
            <%= editProduct.description %>
          </textarea>

          <!-- Product Feature ID -->
          <label for="feature-id">Feature ID:</label>
          <select name="feature_id" class="create-form-input">
            <% for (let productStaff of productsStaff) { %>
            <option value="<%= productStaff.product_feature_id %>">
              <%= productStaff.product_name %> - <%=
              productStaff.product_feature_id %>
            </option>
            <% } %>
          </select>
        </form>
      </section>
    </main>
    <!--  Footer -->
    <%- include("partials/footer.ejs") %>
  </body>
</html>
